# List

In [1]:
#Lets make a friend list for yousuf

In [2]:
friend1 = "Manha"
friend2 = "Abiha"
friend3 = "Zid"

In [3]:
#              0      1      2
friends = ["Manha","Abiha","Zid"]

In [26]:
friend1
print("My Friends is ", friend1)

My Friends is  Manha

In [5]:
friend2

'Abiha'

In [6]:
friend3

'Zid'

In [7]:
friends[0]

'Manha'

In [8]:
friends[2]

'Zid'

In [10]:
friends.append("Khusro")

In [11]:
len(friends)

4

In [13]:
friends[3]

'Khusro'

In [14]:
friends

['Manha', 'Abiha', 'Zid', 'Khusro']

In [15]:
del friends[2]

In [16]:
friends

['Manha', 'Abiha', 'Khusro']

In [17]:
friends.append("Zid")

In [19]:
friends

['Manha', 'Abiha', 'Khusro', 'Zid']

In [20]:
del friends[3]

In [21]:
friends

['Manha', 'Abiha', 'Khusro']

In [22]:
friends.insert(0,"Zid")

In [23]:
friends

['Zid', 'Manha', 'Abiha', 'Khusro']

In [24]:
friends.insert(2,"Ashley")

In [25]:
friends

['Zid', 'Manha', 'Ashley', 'Abiha', 'Khusro']

In [27]:
print("My friends is", friends[0])

My friends is Zid

In [28]:
print("My friends is", friends[1])

My friends is Manha

In [34]:
for a in friends:
    print("My friend is",a)
    print("I am still printing")
    print("I am complete")

My friend is Zid
I am still printing
I am complete
My friend is Manha
I am still printing
I am complete
My friend is Ashley
I am still printing
I am complete
My friend is Abiha
I am still printing
I am complete
My friend is Khusro
I am still printing
I am complete

In [35]:
print("My friend is",friends[0])
print("I am still printing")
print("I am complete")
print("My friend is",friends[1])
print("I am still printing")
print("I am complete")
print("My friend is",friends[2])
print("I am still printing")
print("I am complete")
print("My friend is",friends[3])
print("I am still printing")
print("I am complete")
print("My friend is",friends[4])
print("I am still printing")
print("I am complete")

My friend is Zid
I am still printing
I am complete
My friend is Manha
I am still printing
I am complete
My friend is Ashley
I am still printing
I am complete
My friend is Abiha
I am still printing
I am complete
My friend is Khusro
I am still printing
I am complete

# Yousuf List Practice

In [38]:
alist = ["yousuf","khusro","ameena","haroon","hunaina"]
      #    0         1         2       3          4

In [37]:
alist

['yousuf', 'khusro', 'ameena', 'haroon', 'hunaina']

In [42]:
city1 = "karachi"
cit2  = "lahore"
city3 = "islamabad"
city4 = "quetta"  # if we did not use lists it would be like this
city5 = "peshawar"
city6 = "multan"

In [41]:
cities = ["kararchi","lahore","islamabad","quetta","peshawar","multan"]
       #     0           1         2         3          4        5    # this is a list

In [43]:
alist [4] # in alsit at number 4 was hunaina so it printed  hunaina

'hunaina'

In [45]:
cities [0] # at number 0 was karachi  in cities so it printed karachi

'kararchi'

In [46]:
len(alist) # this tells the lenth of the list

5

In [47]:
len(cities) # this tells the lenth of the list

6

In [49]:
alist.append("nusrat aftab") # append adds a value at the end of a list

In [50]:
alist

['yousuf',
 'khusro',
 'ameena',
 'haroon',
 'hunaina',
 'rawalpindi',
 'nusrat aftab']

In [54]:
friend_name = "abiha"
if friend_name in alist:
    print("You Found your friend") 
  
else:
    print("Sorry this person is not your friend")

Sorry this person is not your friend

In [57]:
alist.insert(5,"express") # insert will add a value but were you want

In [58]:
alist # now it inserted express on 5 as i commanded

['yousuf',
 'khusro',
 'ameena',
 'haroon',
 'hunaina',
 'express',
 'rawalpindi',
 'nusrat aftab',
 'express']

In [61]:
cities.extend (["rawalpindi","panjab"]) # extend adds at the end what you want but it can add more than 1
cities

['kararchi',
 'lahore',
 'islamabad',
 'quetta',
 'peshawar',
 'multan',
 'rawalpindi',
 'panjab']

In [62]:
alist.count ("express") # count counts how many times 1 value is added

2

In [63]:
cities.index ("rawalpindi") # index tells at wich index a value is added

6

In [64]:
cities.clear() # clear clears a list

In [65]:
cities

[]

In [66]:
cities = ['kararchi','lahore','islamabad','quetta','peshawar','rawalpindi','panjab']

In [67]:
cities2 = cities.copy () # copy copies the list again
# by value

In [68]:
cities2

['kararchi',
 'lahore',
 'islamabad',
 'quetta',
 'peshawar',
 'rawalpindi',
 'panjab']

In [69]:
cities3 = cities # by reference

In [70]:
cities3

['kararchi',
 'lahore',
 'islamabad',
 'quetta',
 'peshawar',
 'rawalpindi',
 'panjab']

In [71]:
del cities3[3]# del deletes from the list the value on the index you provided

In [77]:
cities3

['kararchi', 'lahore', 'peshawar', 'rawalpindi', 'panjab']

In [78]:
cities3.append("islamabad")
print(cities3)
cities3.remove("islamabad")  # remove is same as del but it asks the value not its index
print(cities3)

['kararchi', 'lahore', 'peshawar', 'rawalpindi', 'panjab', 'islamabad']
['kararchi', 'lahore', 'peshawar', 'rawalpindi', 'panjab']

In [74]:
cities3

['kararchi', 'lahore', 'peshawar', 'rawalpindi', 'panjab']

In [82]:
poppedcity = cities.pop()
print(f"this city is popped from list {poppedcity}") # pop removes the value at the end
print(f"the remaining cities are {cities}")

this city is popped from list panjab
the remaining cities are ['kararchi', 'lahore', 'peshawar', 'rawalpindi']

In [2]:
cities4 = ['kararchi', 'lahore', 'peshawar', 'rawalpindi', 'panjab']
cities4

['kararchi', 'lahore', 'peshawar', 'rawalpindi', 'panjab']

In [5]:
cities4.append("multan")
cities4

['kararchi',
 'lahore',
 'peshawar',
 'rawalpindi',
 'panjab',
 'multan',
 'multan',
 'multan']

In [7]:
cities4.remove("multan")
cities4

['kararchi', 'lahore', 'peshawar', 'rawalpindi', 'panjab', 'multan']

In [8]:
cities4.remove("multan")

In [9]:
cities4

['kararchi', 'lahore', 'peshawar', 'rawalpindi', 'panjab']

In [10]:
cities4.append("multan")          # append function adds a value at the end

In [11]:
cities4

['kararchi', 'lahore', 'peshawar', 'rawalpindi', 'panjab', 'multan']

In [12]:
cities4.append("quetta","lahore") # but append does not take more than one arguments  at the end

TypeError: append() takes exactly one argument (2 given)

In [14]:
cities4.insert(4,"lahore") # insert  also adds a value but only difference between insert and append is insert takes index

In [15]:
cities4

['kararchi', 'lahore', 'peshawar', 'rawalpindi', 'lahore', 'panjab', 'multan']

In [17]:
cities4.insert(5,"peshawar","karachi") # but same as append insert does not take more than 2 arguments

TypeError: insert() takes exactly 2 arguments (3 given)

In [18]:
cities4.extend(["rawalpindi","punjab"]) # but extend takes more than 1 value but it has to be in list form 
# because extend is iterable

In [19]:
cities4

['kararchi',
 'lahore',
 'peshawar',
 'rawalpindi',
 'lahore',
 'panjab',
 'multan',
 'rawalpindi',
 'punjab']

In [20]:
cities4.extend("multan")

In [21]:
cities4 # so if we do not put the things we need to extend it will be like this

['kararchi',
 'lahore',
 'peshawar',
 'rawalpindi',
 'lahore',
 'panjab',
 'multan',
 'rawalpindi',
 'punjab',
 'm',
 'u',
 'l',
 't',
 'a',
 'n']

In [22]:
cities4.count("lahore") # count counts how many times a value is passed in the list

2

In [23]:
cities4.index("multan")  # index tells at wich index a value is passed

6

In [24]:
cities4.clear() # clear clears the whole list

In [25]:
cities4

[]

In [26]:
cities4 = ['kararchi', 'lahore', 'peshawar', 'rawalpindi', 'panjab']

In [27]:
cities4

['kararchi', 'lahore', 'peshawar', 'rawalpindi', 'panjab']

In [28]:
cities5 = cities4.copy()     # by value

In [29]:
cities5

['kararchi', 'lahore', 'peshawar', 'rawalpindi', 'panjab']

In [30]:
cities6 = cities5    # by reference

In [31]:
cities6

['kararchi', 'lahore', 'peshawar', 'rawalpindi', 'panjab']

In [32]:
del cities6[0] # del is the first way to remove an item from list

In [33]:
cities6

['lahore', 'peshawar', 'rawalpindi', 'panjab']

In [35]:
cities6.remove("lahore") # remove is second way of removing item from list

In [36]:
cities6

['peshawar', 'rawalpindi', 'panjab']

# slicing

In [37]:
#index       -3          -2           -1
teams = ["newzeland","austrailia","pakistan"]
#index      0            1            2

In [38]:
print(teams[2])
print(teams[-1])

pakistan
pakistan

In [39]:
#teams[start:end+1]
teams[1:3]

['austrailia', 'pakistan']

In [41]:
teams[-3:-1]

['newzeland', 'austrailia']

In [42]:
teams[:]   # if you dont put anything in the columns it will print everything

['newzeland', 'austrailia', 'pakistan']

In [43]:
teams[1:] # if you only put start it will print from the start you provided untill end of the list

['austrailia', 'pakistan']

In [44]:
teams[:2] # if you only provide end it will start from start of list untill the end you provided

['newzeland', 'austrailia']

In [49]:
teams2=["austrailia","pakistan","newzeland","south africa","india"]

In [50]:
teams2

['austrailia', 'pakistan', 'newzeland', 'south africa', 'india']

In [51]:
id(teams2)

140487153976976

In [52]:
id(teams)

140487153802448

In [53]:
newteams = teams

In [54]:
id(newteams)

140487153802448

In [55]:
name1 = "Khusro"

In [79]:
name2 = name1
name2 = "Habib"

In [80]:
id(name1)

140487159760240

In [81]:
id(name2)

140487165150896

In [59]:
a = 12

In [72]:
b = a
b = 13

In [73]:
id(a)

4464866784

In [74]:
id(b)

4464866816

In [75]:
a

12

In [76]:
b

13

In [82]:
teams2[2:-1]

['newzeland', 'south africa']

In [83]:
teams2[2:-5] # it will come an empty list as it only goes in left to right

[]

In [84]:
nums = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [85]:
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [86]:
nums[0:16:2]  # if you give another number in another column it will skip that amount of numbers and go to the next
# for example i gave 2 so it skiped 2 and whent to the next number

[1, 3, 5, 7, 9, 11, 13, 15]

In [87]:
nums[::5]  # you can also do like this tell it to go from start to end with a gap of a number you want

[1, 6, 11, 16]

In [112]:
#       0  1  2  3  4  5  6  7  8  9
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [90]:
nums[3:6]

[4, 5, 6]

In [91]:
nums[4]

5

In [92]:
nums[-6]

5

In [95]:
nums[-7:-4]

[4, 5, 6]

In [96]:
nums[0:10:2]

[1, 3, 5, 7, 9]

In [118]:
nums[-2:-11:-2]

[9, 7, 5, 3, 1]

In [121]:
list1 = ["Khusro", "Yousuf","Ameena","Haroon","Hunaina","Wrong Entry"]

In [122]:
list1

['Khusro', 'Yousuf', 'Ameena', 'Haroon', 'Hunaina', 'Wrong Entry']

In [123]:
avalue = list1.remove("Wrong Entry")

In [124]:
list1

['Khusro', 'Yousuf', 'Ameena', 'Haroon', 'Hunaina']

In [125]:
avalue

In [126]:
avalue = list1.pop()

In [127]:
list1

['Khusro', 'Yousuf', 'Ameena', 'Haroon']

In [128]:
avalue

'Hunaina'

# tupples

In [129]:
# a tupple is immutable
atupple = ("yousuf","1000","khusro")

In [130]:
atupple.index("khusro") # you can find an index in a tupple

2

In [133]:
atupple.count("1000") # or you can count how many times a value is in a tupple

1

In [135]:
len(atupple) # or find a lenth of a tupple

3