In [1]:
A= 6
# a is a variable name
# = is an assignment operator
# 6 is the value of the variable

In [5]:
print(A)

6

In [12]:
A= 6.5
print(A)

6.5

In [13]:
type(A)# the variable name A contains a float type value

float

In [14]:
city="karachi"
print(city)

karachi

In [15]:
type(city)# the variable name city contains a string type value

str

In [16]:
city=45
print (city)

45

In [17]:
type(city)# As i changed the value of the variable name city it changed its type into int as its value is changed to 45

int

In [21]:
student_name="yousuf"  
family_name= "khan"

In [22]:
print(student_name+family_name) # when i wrote 2 variables yousuf and khan and joined them it gave me yousufkhan

yousufkhan

In [23]:
num1= 100
num2= 200

sum = num1 + num2  # When i put a value for num1 wich is 100 i put a value for num2 which is 200 then i wrote that 
# value of num1 + value of num2 = the sum then I wrote print sum and it added both the values andgave me 300
 


print(sum)

300