# loops

In [1]:
print("yousuf")
print("yousuf")
print("yousuf")
print("yousuf")
print("yousuf")       # you can write your name like this five times but it is not so fast

yousuf
yousuf
yousuf
yousuf
yousuf

In [3]:
for a in range(5) :          # 5 will not be included (0,1,2,3,4)
    print(a,"yousuf")

0 yousuf
1 yousuf
2 yousuf
3 yousuf
4 yousuf

In [4]:
for number in range(10):
    print(number)          # by default loop starts from 0

0
1
2
3
4
5
6
7
8
9

In [1]:
for number in range(1,10):
    print(number) # we can also tell it to start from 1 or any number as well

1
2
3
4
5
6
7
8
9

In [2]:
for number in range(1,10,2):
    print(number)      # we can  make it skip the number of steps we want

1
3
5
7
9

In [3]:
for number in range(10,1,-2):
    print(number)     # we can  make it go in reverse order

10
8
6
4
2

In [5]:
cities= ["karachi","lahore","islamabad","peshawar","multan","quetta"]

In [6]:
cities

['karachi', 'lahore', 'islamabad', 'peshawar', 'multan', 'quetta']

In [8]:
for city in cities :
    print(f"the city under considoration is {city}")
#we can give a list of cities and and tell it to pick each city from cities and put in city and tell wich city
# is under considoration

the city under considoration is karachi
the city under considoration is lahore
the city under considoration is islamabad
the city under considoration is peshawar
the city under considoration is multan
the city under considoration is quetta

In [9]:
for num in [11,22,33,44,55]:  # we can tell it to loop on a directly given list
    print(num)

11
22
33
44
55

In [12]:
for name in["yousuf","khusro","hunaina","ameena","haroon","dadi"]:
    print(name)

yousuf
khusro
hunaina
ameena
haroon
dadi

In [17]:
a = input("please enter name")
count = int(input("please enter number"))

for x in range(count):
    print(a,x)

please enter nameyousuf
please enter number10
yousuf 0
yousuf 1
yousuf 2
yousuf 3
yousuf 4
yousuf 5
yousuf 6
yousuf 7
yousuf 8
yousuf 9

In [19]:
for name in("yousuf","khusro","hunaina","dadi"): # for loop can also loop on a tupple
    print(name)

yousuf
khusro
hunaina
dadi

In [26]:
cities = ["karachi","lahore","multan","quetta"]

cities[:2]

['karachi', 'lahore']

In [28]:
for city in cities [0:2]:
    print(city)          # it can loop on a sliced list

karachi
lahore

In [29]:
for city in cities [0:3:2]:
    print(city)   # also if you put a step

karachi
multan

In [30]:
abc = 1,2,3,4,5

In [31]:
abc

(1, 2, 3, 4, 5)

In [32]:
for i in 1,2,3,4,5,6:
    print(i)

1
2
3
4
5
6

In [33]:
country = "pakistan"         # if you make it loop on a single character it will print letter by letter

for char in country :
    print(char)

p
a
k
i
s
t
a
n

In [34]:
country = "pakistan"         # if you make it loop on a single character it will print letter by letter

for char in country :
    print(char)

p
a
k
i
s
t
a
n

In [40]:
num = (12,13)

for char in num :
    print(char)

12
13

In [41]:
type(num)

tuple

In [43]:
age = [38,8,31,5]

In [44]:
age

[38, 8, 31, 5]

In [50]:
age[1]

8

In [45]:
is_string_a_list = "Turkey"

In [46]:
is_string_a_list

'Turkey'

In [47]:
for i in is_string_a_list:
    print(i)

T
u
r
k
e
y

In [51]:
is_string_a_list[1]

'u'

In [52]:
is_string_a_list[1:3]

'ur'

In [55]:
is_string_a_list[::-1]

'yekruT'

# for loop's break and continue

In [1]:
5/2

2.5

In [2]:
5//2

2

In [17]:
2%3

2

In [21]:
for number in range(10):
    if number%3==1:
        break
    print(number)
print(1)
#here I said print numbers until 10 but if 1 divided by three remainder comes 1 break list

0
1

In [20]:
for name in["khusro","ameena","hunaina"]:
    if name=="ameena" :
        break
    print(name)

khusro

In [24]:
for number in range(10):
    if number%3!=1:
        break
    print(number)

In [27]:
for num in range(10):
    if num==7 or num==4: # continue does not break the list it skips the number told
        continue
    print(num)

0
1
2
3
5
6
8
9

# nested for loop

In [28]:
for a in range(5):
    print("inner loop begins")
    for char in ("china"):
        print(a,char)

inner loop begins
0 c
0 h
0 i
0 n
0 a
inner loop begins
1 c
1 h
1 i
1 n
1 a
inner loop begins
2 c
2 h
2 i
2 n
2 a
inner loop begins
3 c
3 h
3 i
3 n
3 a
inner loop begins
4 c
4 h
4 i
4 n
4 a

In [29]:
tablenumber = int(input("enter table number"))

for a in range(1,11):
    print(f"{tablenumber} * {a} = {tablenumber*a}")

KeyboardInterrupt:

In [31]:
tablenumber = int(input("enter table number"))

for a in range(1,11):
    print(f"{tablenumber} * {a} = {tablenumber*a}")

enter table number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [43]:
tables = int(input("enter the range of table"))
for a in range(1,11): #1,2,3,4,5,6,7,8,9,10,11
    print("Outer Loop", a)
    for table in range(1,tables+1):#1
        print("Inner Loop", table)
        print(f"{table} * {a} = {table*a}")

enter the range of table2
Outer Loop 1
Inner Loop 1
1 * 1 = 1
Inner Loop 2
2 * 1 = 2
Outer Loop 2
Inner Loop 1
1 * 2 = 2
Inner Loop 2
2 * 2 = 4
Outer Loop 3
Inner Loop 1
1 * 3 = 3
Inner Loop 2
2 * 3 = 6
Outer Loop 4
Inner Loop 1
1 * 4 = 4
Inner Loop 2
2 * 4 = 8
Outer Loop 5
Inner Loop 1
1 * 5 = 5
Inner Loop 2
2 * 5 = 10
Outer Loop 6
Inner Loop 1
1 * 6 = 6
Inner Loop 2
2 * 6 = 12
Outer Loop 7
Inner Loop 1
1 * 7 = 7
Inner Loop 2
2 * 7 = 14
Outer Loop 8
Inner Loop 1
1 * 8 = 8
Inner Loop 2
2 * 8 = 16
Outer Loop 9
Inner Loop 1
1 * 9 = 9
Inner Loop 2
2 * 9 = 18
Outer Loop 10
Inner Loop 1
1 * 10 = 10
Inner Loop 2
2 * 10 = 20

In [45]:
tables = int(input("enter table"))
for table in range(2,tables+1):
    for num in range(1,11):
        print(f"{table}*{num} = {table*num}")

enter table5
2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
2*10 = 20
3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
3*10 = 30
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
4*10 = 40
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50

In [52]:
alist = ["khusro","hunaina","ameena"]
alist2 = ["i love you","great day"]
for name in alist:
    for greeting in alist2:
        print(f"{name} message {greeting}")

khusro message i love you
khusro message great day
hunaina message i love you
hunaina message great day
ameena message i love you
ameena message great day

In [59]:
days_of_the_week = ["sunday","monday","tuesday","wednesday","thursday","friday","saturday"]
people = ["khusro","dadi","hunaina"]
for person in people :
    for day in days_of_the_week :
        print(f"{person} this person eats breakfast {day} on {days_of_the_week}")
#     for day in days_of_the_week :
#         print(f"{person} this person eats breakfast on {day}")

khusro this person eats breakfast sunday on ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
khusro this person eats breakfast monday on ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
khusro this person eats breakfast tuesday on ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
khusro this person eats breakfast wednesday on ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
khusro this person eats breakfast thursday on ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
khusro this person eats breakfast friday on ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
khusro this person eats breakfast saturday on ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
dadi this person eats breakfast sunday on ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
dadi this person eats breakfast monday on ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
dadi this person eats breakfast tuesday on ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
dadi this person eats breakfast wednesday on ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
dadi this person eats breakfast thursday on ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
dadi this person eats breakfast friday on ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
dadi this person eats breakfast saturday on ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
hunaina this person eats breakfast sunday on ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
hunaina this person eats breakfast monday on ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
hunaina this person eats breakfast tuesday on ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
hunaina this person eats breakfast wednesday on ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
hunaina this person eats breakfast thursday on ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
hunaina this person eats breakfast friday on ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
hunaina this person eats breakfast saturday on ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']

In [69]:
for o in range(2):
    print("outter",o)
    for i in range(10):
        print("inner",i)
        for j in range(10):
            print("more innner",j)

outter 0
inner 0
more innner 0
more innner 1
more innner 2
more innner 3
more innner 4
more innner 5
more innner 6
more innner 7
more innner 8
more innner 9
inner 1
more innner 0
more innner 1
more innner 2
more innner 3
more innner 4
more innner 5
more innner 6
more innner 7
more innner 8
more innner 9
inner 2
more innner 0
more innner 1
more innner 2
more innner 3
more innner 4
more innner 5
more innner 6
more innner 7
more innner 8
more innner 9
inner 3
more innner 0
more innner 1
more innner 2
more innner 3
more innner 4
more innner 5
more innner 6
more innner 7
more innner 8
more innner 9
inner 4
more innner 0
more innner 1
more innner 2
more innner 3
more innner 4
more innner 5
more innner 6
more innner 7
more innner 8
more innner 9
inner 5
more innner 0
more innner 1
more innner 2
more innner 3
more innner 4
more innner 5
more innner 6
more innner 7
more innner 8
more innner 9
inner 6
more innner 0
more innner 1
more innner 2
more innner 3
more innner 4
more innner 5
more innner 6
more innner 7
more innner 8
more innner 9
inner 7
more innner 0
more innner 1
more innner 2
more innner 3
more innner 4
more innner 5
more innner 6
more innner 7
more innner 8
more innner 9
inner 8
more innner 0
more innner 1
more innner 2
more innner 3
more innner 4
more innner 5
more innner 6
more innner 7
more innner 8
more innner 9
inner 9
more innner 0
more innner 1
more innner 2
more innner 3
more innner 4
more innner 5
more innner 6
more innner 7
more innner 8
more innner 9
outter 1
inner 0
more innner 0
more innner 1
more innner 2
more innner 3
more innner 4
more innner 5
more innner 6
more innner 7
more innner 8
more innner 9
inner 1
more innner 0
more innner 1
more innner 2
more innner 3
more innner 4
more innner 5
more innner 6
more innner 7
more innner 8
more innner 9
inner 2
more innner 0
more innner 1
more innner 2
more innner 3
more innner 4
more innner 5
more innner 6
more innner 7
more innner 8
more innner 9
inner 3
more innner 0
more innner 1
more innner 2
more innner 3
more innner 4
more innner 5
more innner 6
more innner 7
more innner 8
more innner 9
inner 4
more innner 0
more innner 1
more innner 2
more innner 3
more innner 4
more innner 5
more innner 6
more innner 7
more innner 8
more innner 9
inner 5
more innner 0
more innner 1
more innner 2
more innner 3
more innner 4
more innner 5
more innner 6
more innner 7
more innner 8
more innner 9
inner 6
more innner 0
more innner 1
more innner 2
more innner 3
more innner 4
more innner 5
more innner 6
more innner 7
more innner 8
more innner 9
inner 7
more innner 0
more innner 1
more innner 2
more innner 3
more innner 4
more innner 5
more innner 6
more innner 7
more innner 8
more innner 9
inner 8
more innner 0
more innner 1
more innner 2
more innner 3
more innner 4
more innner 5
more innner 6
more innner 7
more innner 8
more innner 9
inner 9
more innner 0
more innner 1
more innner 2
more innner 3
more innner 4
more innner 5
more innner 6
more innner 7
more innner 8
more innner 9

In [82]:
tableno = 5
for i in range(1,13):
    #print(f"{i} x {tableno} =",tableno*i)
    print(i,"x",tableno,"=",tableno*i)
    print(f"{i} x {tableno} = {tableno*i}")

1 x 5 = 5
1 x 5 = 5
2 x 5 = 10
2 x 5 = 10
3 x 5 = 15
3 x 5 = 15
4 x 5 = 20
4 x 5 = 20
5 x 5 = 25
5 x 5 = 25
6 x 5 = 30
6 x 5 = 30
7 x 5 = 35
7 x 5 = 35
8 x 5 = 40
8 x 5 = 40
9 x 5 = 45
9 x 5 = 45
10 x 5 = 50
10 x 5 = 50
11 x 5 = 55
11 x 5 = 55
12 x 5 = 60
12 x 5 = 60

In [74]:
print(i,"Khusro")

12 Khusro

In [78]:
print(f"{i} Khusro")

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(f"i Khusro")? (<ipython-input-78-8aa716b75e29>, line 1)

In [83]:
for i in range(5):       #i=0,                     i=1,                     i=2,                     i=3,                   i=4
    for j in range(5):   #j=0, j=1, j=2, j=3, j=4, j=0, j=1, j=2, j=3, j=4, j=0, j=1, j=2, j=3, j=4, j=0, j=1, j=2, j=3, j=4,j=0, j=1, j=2, j=3, j=4
        print(i*j)       #0*0, 0*1, 0*2, 0*3, 0*4, 1*0, 1*1, 1*2, 1*3, 1*4, 2*0, 2*1, 2*2, 2*3, 2*4, 3*0, 3*1, 3*2, 3*3, 3*4, 4*0, 4*1, 4*2, 4*3, 4*4

0
0
0
0
0
0
1
2
3
4
0
2
4
6
8
0
3
6
9
12
0
4
8
12
16

In [84]:
outter_list = ["a","b","c"]
inner_list = [1,2,3,4,5,6,7,8,9,10]
for i in outter_list:
    for j in inner_list:
        print(i,j)

a 1
a 2
a 3
a 4
a 5
a 6
a 7
a 8
a 9
a 10
b 1
b 2
b 3
b 4
b 5
b 6
b 7
b 8
b 9
b 10
c 1
c 2
c 3
c 4
c 5
c 6
c 7
c 8
c 9
c 10

# type casting

In [85]:
userinput = input("enter something")
type(userinput)   # any input or councole is string

enter somethinghello

str

In [87]:
userinput = input("enter something")
type(userinput)

enter something8

str

In [88]:
userinput = int(input("enter something"))
type(userinput)      # if we do type casting the input can become from string to integer or floating point

enter something8

int

# changing case of string

In [89]:
type("I am a string")  # if we check the type of this it is a string

str

In [90]:
name = "pakistan"
type(name)

str

In [91]:
name.upper() # name was in lower chase charachters but I changed it into upper case characters by

'PAKISTAN'

In [93]:
name.lower() # now I changed it back into lower case characters by

'pakistan'

In [94]:
name = "PAKISTAN"

In [96]:
name.title() # now I changed the upper case charachters into title case charachters

'Pakistan'